@font-face {
  font-family: 'DIN';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/DINReg.eot?#iefix') format('embedded-opentype'), url('../../fonts/DINReg.woff') format('woff'), url('../../fonts/DINReg.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/DINMed.eot?#iefix') format('embedded-opentype'), url('../../fonts/DINMed.woff') format('woff'), url('../../fonts/DINMed.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN';
  font-style: normal;
  font-weight: 900;
  src: url('../../fonts/DINBol.eot?#iefix') format('embedded-opentype'), url('../../fonts/DINBol.woff') format('woff'), url('../../fonts/DINBol.ttf') format('truetype');
}

html,
body {
  color: #0b0b0b;
  font-family: DIN, Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

:global(p) {
  margin: 50px 0;
}

:global(strong) {
  font-weight: 900;
}

:global(.fade-enter) {
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
}

:global(.fade-exit) {
  left: 50%;
  opacity: 1;
  overflow: visible;
  position: absolute;
  transform: translateX(-50%);
}

:global(.fade-enter.fade-enter-active) {
  opacity: 1;
  transition: opacity 1.5s 0.5s ease-in-out;
}

:global(.fade-exit.fade-exit-active) {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

:global(#root) {
  height: 100%;
  width: 100%;
}
