.spinner {
  margin: 20px auto;
  position: relative;
  transform: rotateZ(45deg);
}

.spinner div {
  float: left;
  height: 50%;
  position: relative;
  transform: scale(1.1);
  width: 50%;
}

.spinner div::before {
  animation: fold 2.4s infinite linear both;
  background-color: #444;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 100% 100%;
  width: 100%;
}

.spinner .cube2 {
  transform: scale(1.1) rotateZ(90deg);
}

.spinner .cube2::before {
  animation-delay: 0.3s;
}

.spinner .cube3 {
  transform: scale(1.1) rotateZ(180deg);
}

.spinner .cube3::before {
  animation-delay: 0.6s;
}

.spinner .cube4 {
  transform: scale(1.1) rotateZ(270deg);
}

.spinner .cube4::before {
  animation-delay: 0.9s;
}

@keyframes fold {
  0%,
  10% {
    opacity: 0;
    transform: perspective(140px) rotateX(-180deg);
  }

  25%,
  75% {
    opacity: 1;
    transform: perspective(140px) rotateX(0deg);
  }

  90%,
  100% {
    opacity: 0;
    transform: perspective(140px) rotateY(180deg);
  }
}
