.header {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto 50px;
  vertical-align: bottom;
  width: 100%;
}

.header svg {
  height: 90px;
  width: 90px;
}

.header h1 {
  display: none;
}

.header h1 svg {
  height: 24px;
  width: auto;
}

.menu {
  font-size: 0.875rem;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  text-transform: uppercase;
  vertical-align: bottom;
  white-space: nowrap;
}

.menu a {
  color: #0b0b0b;
  text-decoration: none;
}

.menu a:hover,
.menu :global(a.active) {
  text-decoration: underline;
}

@media all and (min-width: 1060px) {
  .header svg {
    height: 75px;
    width: 75px;
  }

  .header h1 {
    display: inline;
    margin-left: 25px;
  }

  .menu {
    align-items: end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
}
