.image {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.image:first-of-type {
  margin-top: 10px;
}

.image img {
  max-height: 90vh;
  max-width: 100%;
}

.image figcaption {
  box-sizing: border-box;
  display: grid;
  font-weight: 700;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr;
  line-height: 1;
  padding: 50px 0;
  text-transform: uppercase;
}

@media all and (min-width: 1060px) {
  .image {
    max-width: 50%;
    min-width: 50%;
  }

  .image:first-of-type {
    margin-top: 0;
  }

  .image img {
    height: 80vh;
    max-width: 100%;
  }

  .horizontal {
    max-width: 100%;
    width: 100%;
  }

  .horizontal img {
    height: auto;
    max-width: auto;
    width: 100%;
  }
}
