.image {
  display: inline-block;
  margin: 0;
  min-width: 50%;
  padding: 0;
  text-align: center;
}

.image img {
  height: 80vh;
  max-width: 100%;
}

.image figcaption {
  box-sizing: border-box;
  display: grid;
  font-weight: 700;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr;
  line-height: 1;
  padding: 50px 0;
  text-transform: uppercase;
}

.horizontal {
  height: auto;
  width: 100%;
}
