.image {
  margin: 0;
  padding: 0;
}

.image img {
  width: 100%;
}

.image figcaption {
  box-sizing: border-box;
  display: grid;
  font-weight: 700;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr;
  line-height: 1;
  padding: 50px 0;
  text-transform: uppercase;
}
