.thumbnails {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.thumbnail {
  background: #eee;
  border: 2px solid #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0 14px 34px 0;
  opacity: 0.5;
  overflow: visible;
  position: relative;
  top: 0;
  transition: all 0.2s ease-in-out;
  width: 168px;
}

.thumbnail img {
  display: block;
  max-width: 100%;
}

.current {
  border: 2px solid #000;
  opacity: 1;
  top: -10px;
}

.current::after {
  border-bottom: 7px solid #000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  margin-left: -4px;
  position: absolute;
  top: -7px;
  width: 0;
  z-index: 9999;
}
